#counter-board {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: calc(7rem + 20px);
  grid-template-columns: repeat(auto-fill, calc(16rem + 20px));
  justify-content: center;
  gap: 5px;
  margin: 10px;

  & * { user-select: none; }
}

#add-counter {
  border-width: 5px;
  border-style: dashed;
  border-color: #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 2rem;

  &:hover {
    border-color: #252525;
    color: #252525;
  }
}

#counter-board > .placeholder {
  display: none;
  opacity: 20%;
  border-radius: 5px;
  background-color: #252525;

  &:has(~ .counter[data-dragging]) {
    display: block;
  }
}

#counter-board > .counter {
  display: grid;
  grid-template-areas:
    "reset title remove"
    "minus display plus"
    ". dragger .";
  grid-template-rows: 3rem 3rem 1rem;
  grid-template-columns: 3rem 10rem 3rem;
  gap: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: #FFFFFF;

  &:focus-visible, &:focus-within:has(*:focus-visible) {
    outline: -webkit-focus-ring-color auto 1px;
  }

  &[data-dragging] {
    position: absolute;
    z-index: 1;
    filter: contrast(90%);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-size: 2rem;

    svg {
      width: 2rem;
      height: 2rem;
      pointer-events: none;
    }
  }

  .reset { grid-area: reset; }
  .title { grid-area: title; }
  .remove { grid-area: remove; }
  .minus { grid-area: minus; }
  .display { grid-area: display; }
  .plus { grid-area: plus; }
  .dragger { grid-area: dragger; }

  .display {
    background-color: #252525;
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
  }

  .dragger {
    background-image:
      radial-gradient(#252525 20%, transparent 20%),
      radial-gradient(#252525 20%, transparent 20%);
    background-position: 0 0, 4px 4px;
    background-size: 8px 8px;
    cursor: grab;

    &:active { cursor: grabbing; }
  }
}

#counter-board > .counter > .title {
  display: flex;
  gap: 0.25em;
  margin: auto 0.25em;

  &:focus-within > svg {
    display: none;
  }

  > * {
    height: 1lh;
    font-size: inherit;
    line-height: 1.2;
  }

  > input {
    width: 100%;
    background-color: transparent;
    color: currentColor;

    &:focus {
      box-shadow: inset 0 -1px color-mix(in srgb, currentColor 50%, #FFFFFF);

      &::placeholder { color: color-mix(in srgb, currentColor 50%, #FFFFFF); }
    }

    &::placeholder { color: currentColor; }
  }

  > svg {
    flex-shrink: 0;
    width: auto;
    stroke: color-mix(in srgb, currentColor 50%, #FFFFFF);
  }
}