header {
  position: relative;
  background: right / auto 100% no-repeat;
  transform-origin: center;
  background-image: url("../icon/squirrel.svg");
}

main {
  background: center / 25% auto no-repeat;
  transform-origin: center;
  background-image: url("../icon/beaver.svg");
}