* { box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100svw;
  height: 100svh;
  overflow-x: hidden;
  color: #252525;
  
  main {
    flex-grow: 1;
    background-color: #D9D9D9;
  }

  header {
    height: 2rem;
    background-color: #FFFFFF;
  }

  footer {
    height: 3rem;
    font-size: 0.75rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #252525;
  }
}