body {
  --header-height: 100px;
  --footer-height: 100px;

  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
  width: 100%;
  header {
    background-color: white;
    width: 100%;
    top: 0;
    height: var(--header-height);
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0,0,0,80) ;
  }
  main {
    margin-inline: 10%;
    background-color: red;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }
  footer {
    display: block;
    position: sticky;
    bottom: 0;
    background-color: blue;
    height: var(--footer-height);
  }
}